In [11]:
import pandas as pd

In [14]:
d = {'Name': ["Thorsten", "Isaac"], 'Age': [45, 32], 'Profession': ["Lecturer", "Lecturer"], 'Nationality': ["German", "Spanish"], 'Risk': [True, False]}

In [18]:
df = pd.DataFrame(data=d)

In [19]:
df

       Name  Age Profession Nationality   Risk
0  Thorsten   45   Lecturer      German   True
1     Isaac   32   Lecturer     Spanish  False

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.shape

(2, 5)

In [22]:
df.columns

Index([&#39;Name&#39;, &#39;Age&#39;, &#39;Profession&#39;, &#39;Nationality&#39;, &#39;Risk&#39;], dtype=&#39;object&#39;)

In [23]:
df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         2 non-null      object
 1   Age          2 non-null      int64
 2   Profession   2 non-null      object
 3   Nationality  2 non-null      object
 4   Risk         2 non-null      bool
dtypes: bool(1), int64(1), object(3)
memory usage: 106.0+ bytes

In [24]:
df.describe()

             Age
count   2.000000
mean   38.500000
std     9.192388
min    32.000000
25%    35.250000
50%    38.500000
75%    41.750000
max    45.000000

In [25]:
df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         2 non-null      object
 1   Age          2 non-null      int64
 2   Profession   2 non-null      object
 3   Nationality  2 non-null      object
 4   Risk         2 non-null      bool
dtypes: bool(1), int64(1), object(3)
memory usage: 106.0+ bytes